* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* HEADER */
header {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
  color: #ff5a1f;
  font-weight: bold;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
}

.btn-book {
  background: #ff5a1f;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
}

/* HERO */
.hero {
  height: 70vh;
  background: url("img/Section.png") center/cover no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
   background: rgba(0,0,0,0.15);
}

.hero-content {
  position: relative;
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 48px;
}

.hero-content p {
  margin: 15px 0;
}

.hero-btn {
  background: #ff5a1f;
  border: none;
  color: white;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
}

/* FEATURE */
.feature {
  padding: 60px 10%;
  background: #fff7f0;
  text-align: center;
}

.feature h2 {
  color: #ff5a1f;
  margin-bottom: 30px;
}

.food-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.food-card {
  background: white;
  width: 260px;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.food-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
}

.food-card h3 {
  margin: 10px 0;
}

.price {
  color: #ff5a1f;
  font-weight: bold;
}

/* MENU */
.menu {
  padding: 60px 10%;
  text-align: center;
}

.menu h2 {
  color: #ff5a1f;
  margin-bottom: 25px;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.menu-list span {
  background: white;
  padding: 10px 18px;
  border-radius: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

/* FOOTER */
footer {
  background: #2b2220;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 40px 10%;
}

.footer-box h3 {
  color: #ff5a1f;
  margin-bottom: 10px;
}

.footer-box p {
  font-size: 14px;
  line-height: 1.6;
}
